$m: 40em;
$l: 64em;

@mixin media-medium {
  @media (min-width: #{$m}) {
    @content;
  }
}

@mixin media-large {
  @media (min-width: #{$l}) {
    @content;
  }
}

@mixin _gridElement($prop) {
  .small-#{$prop} {
    @content
  }

  @include media-medium {
    .medium-#{$prop} {
      @content
    }
  }

  @include media-large {
    .large-#{$prop} {
      @content
    }
  }
}