@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700,900');
@import 'foundation';
@import 'settings';
@import 'mixins';
@import 'baseline';

$body-font-family: 'Lato', sans-serif;
$header-font-family: 'Lato', sans-serif;
@include foundation-typography;
@include foundation-global-styles;

@include foundation-xy-grid-classes(
        $base-grid: true,
        $margin-grid: true,
        $padding-grid: true,
        $block-grid: true,
        $collapse: true,
        $offset: true,
        $vertical-grid: true
);

@include foundation-button;
@include foundation-grid;
@include foundation-visibility-classes;

$form-spacing: rem-calc(14);
$input-font-size: rem-calc(14);
@include foundation-forms;

$blue1: #1779ba;
$blue2: #44A6E8;
$red: #D84727;
$red2: #cb4226;
$green: #8EA604;
$white: #FFF;

body {

  [type=file] {
    width: 1px;
  }

  &:not(.export-invoice) {
    .export-invoice-field {
      display: none;
    }
  }

  &.export-invoice {
    @include media-large {
      .switch-length.medium-7 {
        width: 41.66666%;
      }
      .switch-margin.large-offset-2 {
        margin-left: 0;
      }
    }
  }

  h3 {
    margin-bottom: 1em;
    font-size: 1.4rem;
  }

  .help-text {
    font-size: .7em;
    display: block;
    line-height: 2.2em;

    b {
      color: $red;
    }
  }

  .wrapper {
    width: 95%;
    margin: auto;
    max-width: 1100px;
  }

  .group {
    padding-top: 2em;
  }

  .close-button {
    font-size: 2em;
    color: $red;
  }

  input[readonly] {
    background-color: white;
  }

  [required]:after {
    content: '*';
    color: red;
    display: block;
    position: absolute;
  }

  .grid-relative {
    position: relative;
  }

  .off-row {
    @include media-medium {
      position: absolute;
      left: 100%;
    }
  }
}

@include _gridElement(border-right) {
  border-right: 2px solid $blue1;
}

label,
textarea,
input,
.button {
  &.no-bottom-margin {
    margin-bottom: 0;
  }
}

.large-border-right .button {
  padding: .45em 1em;
}

.tab-radio {
  line-height: 1;
  cursor: pointer;
  padding: 0;

  .tick {
    display: inline-block;
    margin: auto;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  & > span {
    padding: .85em 1em;
    position: relative;
    display: block;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    //border: 2px solid $blue1;

    &:hover {
      color: white;
    }
  }

  input:checked + span {
    background-color: $blue1;
    color: white;

    .tick {
      opacity: 1;
    }
  }
}

.honeycomb {
  position: absolute;
  top: -999em;
  left: -999em;
  visibility: hidden;
}

.error {
  color: red;
}

.button {
  border-width: 2px;

  &.orange {
    position: fixed;
    z-index: 1;
    left: .5em;
    top: .5em;
    width: 80px;
    font-size: .7em;
    background-color: orange;

    &:hover {
      background-color: darkorange;
    }
  }

  &.white {
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
    background-color: $white;
    border: 2px solid $blue1;
    color: $blue1;

    &:hover {
      background-color: $blue2;
      border-color: $blue2;
    }
  }
}

.full-width {
  width: 100%;
}

.cell {
  &.pad {
    padding-top: .625rem;

    @include media-medium {
      padding-bottom: .625rem;
      padding-left: .625rem;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.msgContainer {
  .msg {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto 1rem;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .7em;
    color: white;

    &.success {
      background-color: $green;
    }

    &.error {
      background-color: $red;
    }
  }

  .button {
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: .7em;
    line-height: 1.4;
    border: none;
  }
}

.button {
  &.red {
    background-color: $red;

    &:hover {
      background-color: $red2;
    }
  }
}

.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, .4);

  .modal {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -54px auto 0;
    padding: .25rem;
    display: inline-block;
    max-width: 200px;
    width: 90%;
    background-color: #fff;
    text-align: center;

    & > div {
      padding: .25rem .8125rem .8125rem;
      border: 2px solid $red;
    }

    &.wide {
      max-width: 300px;

      h2 {
        padding: 1rem 0;
      }
    }

    &.blue {
      & > div {
        border-color: $blue1;
      }

      h2 {
        color: $blue1;
      }
    }

    img {
      width: 50px;
      margin-bottom: .5em;
    }

    h2 {
      text-transform: uppercase;
      font-size: .8125rem;
      letter-spacing: 3px;
      color: $red;
    }
  }
}