div {
  font-family: sans-serif;
}

.wrapper {
  margin-left: 2em;
}

.description {
  width: 70%;
  text-align: left;
  margin-bottom: 30px;
}

table {
  width: 60%;
  margin-left: 5%;
  margin-bottom: 30px;

  tr {
    &.componentsTotal,
    &.dimensionsTotal {
      td {
        border-top: 1px solid black;
        padding-top: 10px;
        text-align: right;
      }
    }
    td {
      font-family: sans-serif;
      padding-left: 10px;

      &.amount {
        text-align: right;
        width: 10%;
      }
      &.currency {
        padding-left: 0;
        text-align: left;
        width: 5%;
      }
    }
  }
}

.costComponents {
  .no {
    padding-left: 0;
    width: 5%;
  }
  .componentDescription {
    width: 80%;
  }
}

.deliveryOrders {
  .orderNo {
    width: 20%;
  }
  .orderDescription {
    width: 80%;
  }
}

.dimensions {
  .code,
  .deliveryDimOrderNo {
    width: 70%;
  }
  .financialDimTransportCost {
    width: 15%;
  }
}

.signature {
  text-align: right;
  margin-right: 20%;
}

